.review-card {
    min-width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: aliceblue;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.review-card:hover {
    transform: translateX(-10px);
    transition: all .5s;
}

.customer-img-container {
    flex: 1;
}

.customer-img-container img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.review-content {
    flex: 2;
    padding-left: 10px;
}
.review-content small{
    display: block;
    text-align: justify;
    width: 20rem;
    margin-top: 10px;
    color: lightslategray;
}