.review-card {
    min-width: 300px;
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: aliceblue;
    border-radius: 10px;
    padding: 0 15px;
}

.customer-img-container {
    flex: 1;
}

.customer-img-container img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.review-content {
    flex: 2;
    padding-left: 10px;
}
.review-content small{
    display: block;
    text-align: justify;
    width: 20rem;
    margin-top: 10px;
    color: lightslategray;
}


@media screen and (max-width: 576px) {
    .review-card {
        flex-direction: column;
        text-align: center;
        height: 280px;
        padding: 20px 15px;
    }
    .customer-img-container img{
        margin: 0 0 5px;
    }

}