.investment-revenue-container{
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}

@media screen and (max-width: 576px) {
    .investment-revenue-container {
        flex-direction: column;
    }
}