.chart-container {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}

@media screen and (max-width: 576px) {
    .chart-container {
        flex-direction: column;
        display: none;
    }
    .compare-chart {
        display: none;
    }
}