.rechart-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   font-size: 12px;
   margin-bottom: 55px;
}

@media screen and (max-width: 576px) {
    .rechart-container {
        grid-template-columns: repeat(1, 1fr);
    }
}