nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 40px;
    padding: 10px 0 0;
}
nav .navigations {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}
nav .navigations li {
    list-style: none;
}
nav .navigations li a{
    text-decoration: none;
    font-weight: 500;
    padding: 5px 10px;
    margin-left: 10px;
    border-bottom: 1px solid lightslategray;
}


@media screen and (max-width: 1280px) {
    nav .navigations {
        width: 100%;
        justify-content: center;
    }
    nav .navigations li a {
        /* padding: 0; */
        margin-left: 10px;
    } nav img {
        display: none;
    }
}


@media screen and (max-width: 576px) {
    nav {
        justify-content: center;
    }
    nav .navigations {
        width: 100%;
        justify-content: space-between;
    }
    nav .navigations li a {
        padding: 0;
        margin-left: 0;
    }
    nav img {
        display: none;
    }
}