.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    height: 80vh;
}

.banner-left {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 10px 60px 0 0;
}

.banner-left h1 {
    font-size: 4rem;
    line-height: 1.3;
}

.banner-left p {
    color: lightslategray;
    width: 40rem;
}

.banner-left-second-title {
    color: var(--primary-color);
}

.primary-button {
    outline: 0;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px 40px;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    position: relative;
    z-index: 1;
}

.primary-button:hover {
    color: #fff;
}
.primary-button,
.primary-button::before {
    transition: 0.5s ease;
}
.primary-button::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 0;
    height: 100%;
    border-radius: 50px;
    background: var(--primary-color);
    opacity: 0;
    z-index: -1;
  }
  .primary-button:hover::before {
    width: 100%;
    opacity: 1;
  }

.banner-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    /* background-image: url('../../images/Circle\ design.svg'); */
    background-repeat: no-repeat;
    background-size: contain;
}

.banner-right img {
    width: 600px;
}



@media screen and (max-width: 1280px) {
  .banner-left, .banner-right {
    padding: 0 10px;
  }
    
}


@media screen and (max-width: 576px) {
    .banner-container {
        flex-direction: column;
        margin: 100px 0;
    }
    .banner-left {
        padding: 0;
        order: 2;
    }
    .banner-left h1 {
        font-size: 2rem;
        align-self: center;
    }
    .banner-left p {
        width: 20rem;
    }
    .banner-right img {
        width: 100%;
    }
    
}